# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Ignore runtime/generated data
economyData.json
shipData.json
data/*

# ignore backups
backups/

# hide the 1.0 roadmap and roadmap updating scripts x3
scripts/*
roadmap.md